body{font-family:Arial;background:#f4f4f4}
.container{width:400px;margin:auto;background:#fff;padding:20px;margin-top:50px}
input,button{width:100%;padding:8px;margin-top:10px}
button{background:#2c7;border:none}