<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Iniciar sesión</h2>

    {% if error %}
      <div style="
          background:#ffe2e2;
          border:1px solid #ffb3b3;
          color:#8a1f1f;
          padding:10px 12px;
          border-radius:10px;
          margin-bottom:12px;
          font-family: Arial;
          text-align:center;
          max-width: 420px;
      ">
        ❌ Usuario o contraseña incorrectos (o sesión expirada). Intenta de nuevo.
      </div>
    {% endif %}

    <form method="post" action="/login">
        <label>Usuario</label><br>
        <input name="username" required>
        <br><br>

        <label>Contraseña</label><br>
        <input type="password" name="password" required>
        <br><br>

        <button type="submit">Entrar</button>
    </form>

</body>
</html>
